@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #E74646 !important;
}

.navbar-brand {
  color: #FFF3E2 !important;
}

.nav-link {
  color: #FFF3E2 !important;
}

.navbar-toggler{
  color: #FFF3E2 !important;
}

.dropdown-toggle{
  color: #FFF3E2 !important;
}


h1 {
  font-size: 20px !important;
}

.flex-container {
  display: flex !important;
  ;
}

.btnAdd {
  background-color: #E74646 !important;
  color: white !important;
}

select {
  box-shadow: none !important;
  border-color: black !important;
}

.fa-plus {
  color: green;
  margin: 5px;

}

.fa-minus {
  color: #E74646;
  margin: 5px;
}

.fa-trash {
  color: #E74646;
  margin: 5px;
}

input {
  margin-top: 10px !important;
  box-shadow: none !important;
}

.btnRegister {
  background-color: #E74646 !important;
  color: white !important;
  display: flex;
}

.btnLogin {
  background-color: #E74646 !important;
  color: white !important;
  display: flex;
}

.btnPayNow {
  background-color: #E74646 !important;
  color: white !important;
}

.btnFilter {
  background-color: #E74646 !important;
  color: white !important;
}

.btnDeliver{
  background-color: #E74646 !important;
  color: white !important;
}

.btnEditPizza{
  background-color: #E74646 !important;
  color: white !important;
}

.registerLoginLink {
  color: black;
  display: flex;
}

.login{
  background-image: url('./images/b1.svg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height:90vh;
}
.register{
  background-image: url('./images/b2.svg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height:90vh;
}

.adminfunctions{
  padding: 10px;
  background-color:rgb(1, 1, 77);
}

.adminfunctions li{
  list-style-type: none !important; 
  display: inline !important;
  color: white !important;
}
.adminfunctions li a{
   color: white !important;
   padding: 20px;
}
td , th , tr{
  text-align:left;
}